:root {
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    height: 100%;
}
.page-container {
    background-color: #a7a7a7;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}
.row-container {
    /* background-color: #ff0037; */
    color: #fff;
    font-size: 35px;
    padding: 20px;
    margin: 20px;
}
#row-container-1 {
    background-color: #105aca;
    margin: 0;
    padding: 0;
    height: min-content;
}
.system-info {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    font-family: var(--font);
}
#system-name {
    width: fit-content;
    height: fit-content;
    font-size: 30px;
}
#reality-name {
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    float: right;
}
#system-logo {
    width: 64px;
    height: 64px;
    margin: 5px 20px 0 10px;
}
#system-logo img {
    width: 100%;
    height: 100%;
}
.page-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    font-family: var(--font);
    height: fit-content;
}
#page-name {
    flex: 1 0;
}
.page-info #guiding {
    font-size: 25px;
}
#row-container-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: var(--font);
}
#recently-used-container {
    align-self: stretch;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
#popular-container {
    align-self: stretch;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.items {
    background-color: #b6b6b6;
    font-size: 20px;
    flex-basis: 200px;
    max-width: 200px;
    height: fit-content;
    margin: 20px;
}
#three-dots-icon {
    padding-left: 8px;
}
#three-dots-icon::after {
    content: '\2807';
    font-size: 30px;
}
.item-title {
    padding: 10px;
    text-align: center;
}
.item-icon {
    display: flex;
    justify-content: center;
}
.item-icon img {
    width: 64px;
    height: 64px;
}
#recently-used {
    padding-bottom: 10px;
}
#popular {
    padding: 10px 0 10px 0;
}
#recommended-container {
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    flex-basis: auto;
}
#recommended-container > .items {
    flex: 0 0 14.2857142857%;
}
#help-section {
    align-self: flex-end;
}